.loginContainer{
    margin: 50px auto auto;
    width: 500px;
    z-index: 20;
    border: solid;
    text-align: center;
    padding: 10px;
}

.loginTitulo{
    font-style: italic;
    color: darkblue;
}

.espacoBotao{
    margin-top: 10px;
}
